<!-- Start footer -->
<footer>
	<div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 aligncenter">
        <%= link_to "#", :class => "socila-link" do %>
          <span class="social-hover fb"><i class="fa fa-facebook"></i></span>
        <% end %>
        <%= link_to "#", :class => "socila-link" do %>
          <span class="social-hover twit"><i class="fa fa-twitter"></i></span>
        <% end %>
        <%= link_to "#", :class => "socila-link" do %>
          <span class="social-hover linkedin"><i class="fa fa-linkedin"></i></span>
        <% end %>
        <%= link_to "#", :class => "socila-link" do %>
          <span class="social-hover gplus"><i class="fa fa-google-plus"></i></span>
        <% end %>
        <%= link_to "#", :class => "socila-link" do %>
          <span class="social-hover email"><i class="fa fa-envelope"></i></span>
        <% end %>
        <%= link_to "#", :class => "socila-link" do %>
          <span class="social-hover rss"><i class="fa fa-rss"></i></span>
        <% end %>
        <hr />
      </div>          
    </div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 text-center">
				<ul class="footer-link">
					<li><%= link_to "Home", "#" %></li>
					<li><%= link_to "About", "#" %></li>
					<li><%= link_to "Services", "#" %></li>
					<li><%= link_to "Portfolio", "#" %></li>				
					<li><%= link_to "Blog", "#" %></li>
					<li><%= link_to "Contact" "#" %></li>
				</ul>
			</div>			
		</div>				
	</div>
	<div class="clearfix"></div>
	<div class="subfooter">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<span class="copyright">&copy; Copyright 2016 <%= link_to "Precious Infosystem", "http://www.preciousinfosystem.com" %> &#45; All Rights Reserved</span>	
				</div>
			</div>
		</div>
	</div>			
</footer>
<!-- End footer -->