<!-- Start home -->
<section id="home">
	<div class="gridrotator">
		<div class="grid-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
            <%= link_to "", "#home", :class => "pis-logo" %>
						<h3>Creative design and Smart Web Development</h3>
            <%= link_to "Get started with us", "#about", :class => "btn btn-large btn-primary" %>
					</div>
				</div>
			</div>
		</div>
		<div id="ri-grid" class="ri-grid ri-grid-size">
			<ul>
        <li><%= link_to image_tag("/assets/works/ror.png"), "#" %></li>
        <li><%= link_to image_tag("/assets/works/jquery.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/python.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/ios.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/ajax.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/android.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/angular.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/mysql.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/html5.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/css3.png"), "#" %></a></li>

        <li><%= link_to image_tag("/assets/works/python.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/mysql.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/ror.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/ios.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/angular.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/android.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/ajax.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/html5.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/css3.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/jquery.png"), "#" %></a></li>

        <li><%= link_to image_tag("/assets/works/ror.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/jquery.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/python.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/ios.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/ajax.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/android.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/angular.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/mysql.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/html5.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/css3.png"), "#" %></a></li>            

        <li><%= link_to image_tag("/assets/works/python.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/mysql.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/ror.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/ios.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/angular.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/android.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/ajax.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/html5.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/css3.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/jquery.png"), "#" %></a></li>

        <li><%= link_to image_tag("/assets/works/ror.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/jquery.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/python.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/ios.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/ajax.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/android.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/angular.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/mysql.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/html5.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/css3.png"), "#" %></a></li>

        <li><%= link_to image_tag("/assets/works/python.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/mysql.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/ror.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/ios.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/angular.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/android.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/ajax.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/html5.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/css3.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/jquery.png"), "#" %></a></li>

        <li><%= link_to image_tag("/assets/works/ror.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/jquery.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/python.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/ios.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/ajax.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/android.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/angular.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/mysql.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/html5.png"), "#" %></a></li>
        <li><%= link_to image_tag("/assets/works/css3.png"), "#" %></a></li>
      </ul>
		</div>
	</div>
</section>
<!-- End home -->