<!-- Start about -->
<section id="about">
	<div class="page-head">
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-sm-8 col-xs-12 head-text">
					<h3><i class="fa fa-group"></i> About <span>Work</span></h3>
					<p>
            We Have Expert Developers and web designers Team with over a decade's experience
					</p>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12">
					<i class="icon fa fa-group"></i>
				</div>
			</div>
		</div>			
	</div>
	<div class="container">
		<div class="page-section">
			<div class="row">
				<div class="col-md-6 col-sm-12 col-xs-12">
					<h4>Which Technologies we Work ?</h4>
					<p>
						Our aim is to consistently deliver an all round experience that Provide to our best work. We are focus on creating the best technology solution for our clients or interacting with our community, our aim is to evoke a feeling that something extraordinary has been accomplished with clients satisfaction. We are working with all technologies Ruby on Rails, Python, Javascript, AngularJS, BackboneJS, DataBase Design, Web Development & CMS, Web Design & UI (responsive and non-responsive), Mobile Apps Design etc.. We have Expert team with higher experience. We stay one step ahead of our clients’ needs.
					</p>
					<p>
						We value our clients and ensure the highest levels of certainty and satisfaction through a deep-set commitment to our clients.

						We use the best project management tools that help us to work in an Agile way in the best possible manner. In short, our goal is to deliver quality!
					</p>				
					<%= link_to "View our services", "#services", :class => "btn btn-primary" %>
				</div>
				
				<div class="col-md-6 col-sm-9 col-xs-12">
					<div class="team-wrapper">
						<div class="team-desc pull-left tooltips">
							<h5>RUBY <br>ON <br>RAILS</h5>
							<p>( 6 Years Experience )</p>							
						</div>
						<div class="team-avatar avatar-left">
							<%= link_to "", "#" %>
						</div>
					</div>
					<div class="team-wrapper">
						<div class="team-desc pull-left tooltips">
							<h5>PYTHON</h5>
              <p>( 4 Years Experience )</p>							
						</div>
						<div class="team-avatar avatar-left">
							<%= link_to "", "#", :class => "python" %>
						</div>
					</div>
					<div class="team-wrapper">
						<div class="team-desc pull-right tooltips">
							<h5>HTML 5</h5>
              <p>( 4 Years Experience )</p>							
						</div>
						<div class="team-avatar avatar-right">
							<%= link_to "", "#", :class => "html5" %>
						</div>
					</div>
					<div class="team-wrapper">
						<div class="team-desc pull-right tooltips">
							<h5>ANGULAR</h5>
              <p>( 2 Years Experience )</p>								
						</div>
						<div class="team-avatar avatar-right">
							<%= link_to "", "#", :class => "angular" %>
						</div>
					</div>						
				</div>					
			</div>
		</div>
	</div>
</section>
<!-- End about -->


<!-- Start parallax -->
<section class="parallax parallax-bg1">
	<div class="main-pattern"></div>
	<div class="page-spacer">
		<div class="container">
			<div class="row margintop50">
				<div class="col-md-12 col-sm-12 col-xs-12 aligncenter">						
					<h3>We Shape Your Ideas</h3>
          <p class="shapeidea-txt">We are Expertise Web Application Developers, Who are Focused to Make Your Ideas Go Big!</p>
					<p>
            <%= link_to "Get in touch with us", "#", :class => "btn btn-primary" %>
          </p>
				</div>
			</div>
		</div>
	</div>			
</section>
<!-- End parallax -->

<!-- Start services -->
<section id="services">
	<div class="page-head">
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-sm-9 col-xs-12 head-text">
					<h3><i class="fa fa-cogs"></i> Our <span>services</span></h3>
					<p>
						We can provide a Quality Web services to help you bring your web project to life
					</p>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<i class="icon fa fa-cogs"></i>
				</div>						
			</div>
		</div>			
	</div>		
	<div class="container">
		<div class="page-section">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12 aligncenter">
					<div class="services-box services-bg3 e_bounce">
						<i class="fa fa-flask icon64"></i>
						<h5><strong>Web Development & CMS</strong></h5>
					</div>
		        <div class="services-box services-bg2 e_bounce">
	            <i class="fa fa-image icon64"></i>
	            <br>
	            <h5><strong>Web Design <br>& UI</strong></h5>
	            <!-- <p>Static Websites</p>
	            <p>Dynamic Websites</p>
	            <p>Responsive for all devices</p>
	            <p>Ecommerce Websites</p>
	            <p>Websites Maintenance</p> -->
		        </div>
					<div class="services-box services-bg3 e_bounce">
						<i class="fa fa-tablet icon64"></i>
						<h5><strong>Mobile Apps Designs</strong></h5>
					</div>
        	<div class="services-box services-bg1 e_bounce">
	          <i class="fa fa-files-o icon64"></i>
	          <h5><strong>Extensive Documentation</strong></h5>
        	</div>							
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End services -->


<!-- Start bottom -->
<section class="bottom testimoni parallax parallax-bg2">
  <div class="main-pattern"></div>
  <div class="page-spacer">
    <div class="container">
      <div class="row aligncenter">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <!-- <h5>What Our Friends say</h5>
          <h5>Here what our customers have to say</h5> -->
          <h5>A Few Words From Our Customers</h5>
          <ul class="ticker">
            <li>
              <p>
                <i class="fa fa-quote-left" aria-hidden="true"></i>
                If you want to start building online website and target a specific audience, look at PIS. They provide a professional, cost-effective service that is easy for anyone to understand and use immediately.
              </p>
              <p class="text-right"><strong>Tomas</strong></p>
            </li>
            <li>
              <p>
                <i class="fa fa-quote-left" aria-hidden="true"></i>
                I am happy with the level of services you have provide for my site. We believe you are the best. Great awareness and high level of online exposure ever seen.
              </p>
              <p class="text-right"><strong>Brandon</strong></p>
            </li>
            <li>
              <p>
                <i class="fa fa-quote-left" aria-hidden="true"></i>
                Really Nice Job !! I am fully satisfied with my site and also working with PIS.
              </p>
              <p class="text-right"><strong>Sergio</strong></p>
            </li>             
          </ul>
        </div>        
      </div>
    </div>
  </div>
</section>
<!-- End bottom -->


<!-- Start portfolio -->
<section id="portfolio">
	<div class="page-head">
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-sm-9 col-xs-12 head-text">
					<h3><i class="fa fa-image"></i> Our <span>Portfolio</span></h3>
					<p>
            We Have Exellent Team in Designing and Development <br>We Create Affordable Websites to Help Your Business Work Online
					</p>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<i class="icon fa fa-image"></i>
				</div>						
			</div>
		</div>			
	</div>			
	<div class="container">
		<div class="page-section">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">				
					<ul class="portfolio-categ filter">
						<li class="all active"><%= link_to "All", "#" %></li>
						<li class="web"><%= link_to "Web design", "#" %></li>
						<li class="logo"><%= link_to "Logo", "#" %></li>
						<li class="graphic"><%= link_to "Graphic", "#" %></li>
            <li class="ror"><%= link_to "Ruby On Rails", "#" %></li>
            <li class="python"><%= link_to "Python", "#" %></li>
					</ul>					
				</div>
			</div>
			<div class="row">
				<ul class="portfolio-area">	
					<li class="portfolio-item" data-id="id-0" data-type="web">
						<%= link_to "/assets/works/web/opinion-orange.jpg", :class => "folio-thumb", "data-pretty" => "prettyPhoto", :title => "OPINION ORANGE" do %>
							<div class="zoom picture"><i class="fa fa-image"></i></div>
							<div class="folio-caption"></div>
							<%= image_tag("/assets/works/web/opinion-orange.jpg", :alt => "OPINION ORANGE", :class => "img-responsive") %>
						<% end %>
						<div class="folio-title">
							<h6>OPINION ORANGE</h6>
						</div>
					</li>
					<li class="portfolio-item hide" data-id="id-1" data-type="web">
						<%= link_to "/assets/works/web/pozvat.jpg", :class => "folio-thumb", "data-pretty" => "prettyPhoto", :title => "Pozvat" do %>
							<div class="zoom picture"><i class="fa fa-image"></i></div>
							<div class="folio-caption"></div>
							<%= image_tag("/assets/works/web/pozvat.jpg", :alt => "Pozvat", :class => "img-responsive") %>
						<% end %>
						<div class="folio-title">
							<h6>POZVAT</h6>
						</div>
					</li>	
					<li class="portfolio-item" data-id="id-3" data-type="graphic">
						<%= link_to "/assets/works/graphics/veedsps.jpg", :class => "folio-thumb", "data-pretty" => "prettyPhoto", :title => "VEEDS PRIVATE SUITES" do %>
							<div class="zoom picture"><i class="fa fa-image"></i></div>
							<div class="folio-caption"></div>
							<%= image_tag("/assets/works/graphics/veedsps.jpg", :class => "img-responsive", :alt => "VEEDS PRIVATE SUITES") %>
						<% end %>
						<div class="folio-title">
							<h6>VEEDS PRIVATE SUITES</h6>
						</div>	
					</li>
					<li class="portfolio-item" data-id="id-7" data-type="graphic">
						<%= link_to "/assets/works/graphics/atmago.jpg", :class => "folio-thumb", "data-pretty" => "prettyPhoto", :title => "ATMAGO" do %>
							<div class="zoom picture"><i class="fa fa-image"></i></div>
							<div class="folio-caption"></div>
							<%= image_tag("/assets/works/graphics/atmago.jpg", :class => "img-responsive", :alt => "ATMAGO") %>
						<% end %>
						<div class="folio-title">
							<h6>ATMAGO</h6>
						</div>	
					</li>	
					<li class="portfolio-item hide" data-id="id-0" data-type="web">
						<%= link_to "/assets/works/web/kidshub.jpg", :class => "folio-thumb", "data-pretty" => "prettyPhoto", :title => "KidsHub" do %>
							<div class="zoom picture"><i class="fa fa-image"></i></div>
							<div class="folio-caption"></div>
							<%= image_tag("/assets/works/web/kidshub.jpg", :class => "img-responsive", :alt => "KidsHub") %>
						<% end %>
						<div class="folio-title">
							<h6>KidsHub</h6>
						</div>	
					</li>
          <li class="portfolio-item" data-id="id-0" data-type="web">
            <%= link_to "/assets/works/web/centrix.jpg", :class => "folio-thumb", "data-pretty" => "prettyPhoto", :title => "Centrix" do %>
              <div class="zoom picture"><i class="fa fa-image"></i></div>
              <div class="folio-caption"></div>
              <%= image_tag("/assets/works/web/centrix.jpg", :class => "img-responsive", :alt => "Centrix") %>
            <% end %>
            <div class="folio-title">
              <h6>Centrix</h6>
            </div>  
          </li>
					<li class="portfolio-item" data-id="id-3" data-type="graphic">
						<%= link_to "/assets/works/graphics/world-media-directory.jpg", :class => "folio-thumb", "data-pretty" => "prettyPhoto", :title => "WORLD MEDIA DIRECTORY" do %>
							<div class="zoom picture"><i class="fa fa-image"></i></div>
							<div class="folio-caption"></div>
							<%= image_tag("/assets/works/graphics/world-media-directory.jpg", :class => "img-responsive", :alt => "WORLD MEDIA DIRECTORY") %>
						<% end %>
						<div class="folio-title">
							<h6>WORLD MEDIA DIRECTORY</h6>
						</div>		
					</li>
          <li class="portfolio-item" data-id="id-3" data-type="ror">
            <%= link_to "/assets/works/ror/triptive.jpg", :class => "folio-thumb", "data-pretty" => "prettyPhoto", :title => "TRIPTIVE" do %>
              <div class="zoom picture"><i class="fa fa-image"></i></div>
              <div class="folio-caption"></div>
              <%= image_tag("/assets/works/ror/triptive.jpg", :class => "img-responsive", :alt => "TRIPTIVE") %>
            <% end %>
            <div class="folio-title">
              <h6>TRIPTIVE</h6>
            </div>    
          </li>
          <li class="portfolio-item" data-id="id-3" data-type="ror">
            <%= link_to "/assets/works/ror/nice2stay.jpg", :class => "folio-thumb", "data-pretty" => "prettyPhoto", :title => "Nice2Stay" do %>
              <div class="zoom picture"><i class="fa fa-image"></i></div>
              <div class="folio-caption"></div>
              <%= image_tag("/assets/works/ror/nice2stay.jpg", :class => "img-responsive", :alt => "Nice2Stay") %>
            <% end %>
            <div class="folio-title">
              <h6>Nice2Stay</h6>
            </div>    
          </li>
          <li class="portfolio-item" data-id="id-3" data-type="ror">
            <%= link_to "/assets/works/ror/travel-agency-tribes.jpg", :class => "folio-thumb", "data-pretty" => "prettyPhoto", :title => "Travel Agency Tribes" do %>
              <div class="zoom picture"><i class="fa fa-image"></i></div>
              <div class="folio-caption"></div>
              <%= image_tag("/assets/works/ror/travel-agency-tribes.jpg", :class => "img-responsive", :alt => "Travel Agency Tribes") %>
            <% end %>
            <div class="folio-title">
              <h6>Travel Agency Tribes</h6>
            </div>    
          </li>
          <li class="portfolio-item" data-id="id-5" data-type="logo">
            <%= link_to "/assets/works/logo/logo1.png", :class => "folio-thumb", "data-pretty" => "prettyPhoto", :title => "Church Avenue Florist" do %>
              <div class="zoom picture"><i class="fa fa-image"></i></div>
              <div class="folio-caption"></div>
              <%= image_tag("/assets/works/logo/logo1.png", :class => "img-responsive", :alt => "Church Avenue Florist") %>
            <% end %>
            <div class="folio-title">
              <h6>Church Avenue Florist</h6>
            </div>  
          </li> 
          <li class="portfolio-item" data-id="id-6" data-type="logo"> 
            <%= link_to "/assets/works/logo/logo2.png", :class => "folio-thumb", "data-pretty" => "prettyPhoto", :title => "Church Avenue Florist" do %>
              <div class="zoom picture"><i class="fa fa-image"></i></div>
              <div class="folio-caption"></div>
              <%= image_tag("/assets/works/logo/logo2.png", :class => "img-responsive", :alt => "Church Avenue Florist") %>
            <% end %>
            <div class="folio-title">
              <h6>Church Avenue Florist</h6>
            </div>
          </li>					
				</ul>					
			</div>
		</div>
	</div>			
</section>
<!-- End portfolio -->


<!-- Start parallax -->
<section class="parallax parallax-bg3" id="career">
	<div class="main-pattern"></div>
	<div class="page-spacer">
		<div class="container">
			<div class="row margintop50">
				<div class="col-md-12 col-sm-12 col-xs-12 aligncenter">						
					<h3>lastest Openings</h3>						
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12">
					<ul id="mycarousel" class="jcarousel-skin-tango recent-post">
						<li>
							<div class="recent-post-box">
								<h6>UI/UX Designer</h6>
								<p>
								  At <span>PIS</span> we hire passion. If you are determined to deliver best in class products & services that enrich the lives of our customers, determined to make <span>PIS</span> increase its global footprint and determined to make a difference in everything you do, then <span>PIS</span> is just the place for you. Hiring of experienced and Fresher Both professionals at <span>PIS</span>.
                  <br><br>
                  Please Send your Circulum Vitae.
								</p>
								<p class="text-center">
                  <%= link_to "Apply", "mailto:resume@preciousinfosystem.com", :class => "btn btn-primary" %>
                </p>
							</div>
						</li>
						<li>
							<div class="recent-post-box">
								<h6>Ruby On Rails Developer</h6>
								<p>
                  At <span>PIS</span> we hire passion. If you are determined to deliver best in class products & services that enrich the lives of our customers, determined to make <span>PIS</span> increase its global footprint and determined to make a difference in everything you do, then <span>PIS</span> is just the place for you. Hiring of experienced and Fresher Both professionals at <span>PIS</span>.
                  <br><br>
                  Please Send your Circulum Vitae.
                </p>
                <p class="text-center">
                  <%= link_to "Apply", "mailto:resume@preciousinfosystem.com", :class => "btn btn-primary" %>
                </p>
							</div>
						</li>
						<li>
							<div class="recent-post-box">
								<h6>Python Developer</h6>
								<p>
                  At <span>PIS</span> we hire passion. If you are determined to deliver best in class products & services that enrich the lives of our customers, determined to make <span>PIS</span> increase its global footprint and determined to make a difference in everything you do, then <span>PIS</span> is just the place for you. Hiring of experienced and Fresher Both professionals at <span>PIS</span>.
                  <br><br>
                  Please Send your Circulum Vitae.
                </p>
                <p class="text-center">
                  <%= link_to "Apply", "mailto:resume@preciousinfosystem.com", :class => "btn btn-primary" %>
                </p>
							</div>
						</li>
						<li>
							<div class="recent-post-box">
								<h6>Fresher Designer</h6>
								<p>
                  At <span>PIS</span> we hire passion. If you are determined to deliver best in class products & services that enrich the lives of our customers, determined to make <span>PIS</span> increase its global footprint and determined to make a difference in everything you do, then <span>PIS</span> is just the place for you. Hiring of experienced and Fresher Both professionals at <span>PIS</span>.
                  <br><br>
                  Please Send your Circulum Vitae.
                </p>
                <p class="text-center">
                  <%= link_to "Apply", "mailto:resume@preciousinfosystem", :class => "btn btn-primary" %>
                </p>
							</div>
						</li>	
						<li>
							<div class="recent-post-box">
								<h6>Fresher Developer</h6>
								<p>
                  At <span>PIS</span> we hire passion. If you are determined to deliver best in class products & services that enrich the lives of our customers, determined to make <span>PIS</span> increase its global footprint and determined to make a difference in everything you do, then <span>PIS</span> is just the place for you. Hiring of experienced and Fresher Both professionals at <span>PIS</span>.
                  <br><br>
                  Please Send your Circulum Vitae.
                </p>
                <p class="text-center">
                  <%= link_to "Apply", "mailto:resume@preciousinfosystem.com", :class => "btn btn-primary" %>
                </p>
							</div>
						</li>							
					</ul>
				</div>
			</div>
		</div>
	</div>			
</section>
<!-- End parallax -->

<!-- Start contact -->
<section id="contact">
	<div class="page-head">
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-sm-9 col-xs-12 head-text">
					<h3><i class="fa fa-envelope"></i> Contact <span>us</span></h3>
					<p>
					If you have a need for a Expert Web Designer and Developer to help you with your web project please get in touch.
					</p>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<i class="icon fa fa-envelope"></i>
				</div>							
			</div>
		</div>			
	</div>	
	<div class="container">
		<div class="page-section">
  		<div class="row">
  			<!-- <div class="col-md-5 col-sm-5 col-xs-12">
  				<div class="contact-form-wrapper">
  					<div class="contact-form">
  						<h4>Quick contact</h4>
              <form name="myForm" id="contactform" action="javascript:void(0);" onsubmit="return validateForm()" method="post">
  							<div id="sendmessage">Your message has been sent. Thank you!</div>								
  							<ul class="listForm">
  								<li>
  									<label>Your name<span>&#40; Required &#41;</span></label>
  									<input class="input-block-level contact-input" id="username" type="text" name="username" data-rule="maxlen:4" data-msg="Please enter at least 4 chars" />									
  									<div class="validation"></div>
  								</li>
  								<li>
  									<label>Your email<span>&#40; Required &#41;</span></label>
  									<input class="input-block-level contact-input" id="useremail" type="text" name="email" data-rule="email" data-msg="Please enter a valid email" />										
  									<div class="validation"></div>
  								</li>
  								<li>
  									<label>Your message</label>
  									<textarea id="textarea" class="input-block-level contact-input" rows="9" name="message" data-rule="required" data-msg="Please write something for us"></textarea>												
  									<div class="validation"></div>
  								</li>
  								<li>
  									<input type="submit" id="btnValidate" value="Send message" class="btn btn-large btn-primary" name="Submit" />
  								</li>
  							</ul>
  						</form>
  					</div>
  				</div>
  			</div> -->
  			<div class="col-md-12 col-sm-12 col-xs-12">
  				<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3680.824521977998!2d75.87633251498415!3d22.69757543409171!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962fcde3d7e977b%3A0xbc37044b33073d67!2sPrecious+Infosystem+Pvt.+Ltd.!5e0!3m2!1sen!2sus!4v1461408064365" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  				<h4>Contact detail</h4>
          <h6><strong>Precious InfoSystem Pvt. Ltd.</strong></h6>

  				<p>
  					<strong><i class="fa fa-home"></i> Location :</strong><br />
  					2-E & 2-F, Block C, 3rd Floor<br>
            BCM City, Navlakha Square<br>
            Indore, Madhya Pradesh, India 452001
  				</p>
  				<p>
  					<strong><i class="fa fa-envelope"></i> Email :</strong><br />                
  					Office - resume@preciousinfosystem.com<br />
  					Support - support@preciousinfosystem.com
  				</p>
  				<p>
  					<strong><i class="fa fa-phone"></i> Phone :</strong><br />
  					0731-4244971
  				</p>							
  			</div>
  		</div>
		</div>
	</div>	
</section>
<!-- End contacct -->

<div class="clearfix"></div>

<!-- Start subcribe -->
<section class="subscribe-wrapper bottom">
	<div class="container">			
		<div class="row aligncenter">
			<div class="col-md-12 col-sm-12 col-xs-12">
        <h4>Send your <span>requirement</span> We Get Touch in <span>ASAP</span></h4>
        <p><%= link_to "Get started", "mailto:support@preciousinfosystem.com", :class => "btn btn-primary" %><p>
      </div> 
		</div>
	</div>
</section>
<!-- End subscribe -->	

<div class="clearfix"></div>


<script type="text/javascript">
  $("#contactform").validate({
    rules: {
      field: {
        required: true,
        email: true
      }
    }
  });
</script>